* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Gilroy";
}

.head {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  border-bottom: 2px #92979c solid;
  padding-bottom: 15px;
  max-width: 2500px;
  margin: 0 auto;
  padding-top: 20px;
}

.img1 {
  margin-right: 50px;
}

.img2 {
  margin-left: 50px;
}

.ssilka {
  color: #252D35;
  transition: color 1ms linear;
}

.ssilka:hover {
  color: #B8884B;
}

.dot {
  background-color: #B8884B;
  width: 5px;
  height: 5px;
}

.num {
  display: flex;
  align-items: center;
  gap: 5px;
}

.text1 {
  color: #B8884B;
  font-size: 60px;
  font-weight: 600;
}

.text2 {
  font-size: 60px;
  font-weight: 600;
}

.p1 {
  font-size: 20px;
  margin-top: 5px;
}

.bigbox {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
  margin-top: 100px;
}

.item2 {
  height: 630px;
  width: 682px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.item2 div img {
  width: 100%;
  height: 100%;
}

.elem {
  grid-column: 1/3;
  grid-row: 1/5;
}

.elem2 {
  grid-row: 1/3;
  grid-column: 3/4;
}

.elem3 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.elem5 {
  grid-column: 3/5;
  grid-row: 3/5;
}

.itema {
  background-image: url(../img/image\ 1.jpg);
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

.itemb {
  background-image: url(../img/image\ 2.jpg);
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

.containera {
  margin: 250px auto;
  display: flex;
  gap: 110px;
  justify-content: center;
}

.whitebox {
  width: 530px;
  height: 60px;
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 5px;
  position: relative;
}

.but1 {
  width: 40px;
  height: 50px;
  border: rgb(186, 175, 175) solid 2px;
  position: absolute;
  right: 15px;
  background-color: white;
  opacity: 0.8;
  color: #252D35;
}

.but1 span {
  transition: 0.5s ease;
}

.but1:hover span {
  transform: rotate(180deg);
}


h2 {
  font-weight: 700;
  font-size: 70px;

.button {
  position: relative;
  padding: 24px 64px;
  width: 400px;
  background-color: transparent;
  font-size: 20px;
  color: #B8884B;
  border: solid 3px rgba(184, 136, 75, 0.3);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  margin-top: 30px;
}
.button .button-text {
  position: relative;
  z-index: 2;
}
.button .fill-container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding-bottom: 100%;
  transform: translateY(-50%) rotate(180deg);
}
.button .fill-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #B8884B;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(-100%);
}
.button:hover {
  border-color: #B8884B;
  transform: translateY(-4px);
  color: white;
}
.button:hover .fill-container {
  transform: translateY(-50%) rotate(0);
}
.button:hover .fill-container::after {
  transform: translateY(0);

}

.first-half {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.first-half h2 {
  font-weight: 700;
  font-size: 70px;
}

.first-half .after-header {
  max-width: 840px;
  text-align: center;
}
.first-half .statistics {
  display: flex;

  max-width: -webkit-fit-content;


  max-width: -moz-fit-content;
  max-width: fit-content;
  gap: 110px;
  margin-top: 50px;
}

.first-half .statistics .stats-item {

.first-half .stats-item {

  max-width: 110px;
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-half .statistics .stats-item span {

.first-half .stats-item span {

  white-space: nowrap;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.first-half .statistics .stats-item .number {

.first-half .stats-item .number {

  font-size: 50px;
  font-weight: 600;
}

.usage-variety {
  display: flex;
  gap: 80px;
  margin: 260px auto;

  max-width: -webkit-fit-content;

  max-width: -moz-fit-content;
  max-width: fit-content;
  align-items: center;
}
.usage-variety .usage-text {
  max-width: 700px;

  height: -webkit-fit-content;

  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.usage-variety .usage-text .paragraph {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 465px;
}
.usage-variety .usage-text button {
  background: 0;
  border: 1px solid #B8884B;
  padding: 15px 30px 15px 30px;

  color: #B8884B;


}
.usage-variety .usage-images {
  display: flex;
  gap: 40px;
}

.usage-variety .usage-images .img-item {
  position: relative;
}
.usage-variety .usage-images .img-item button {
  position: absolute;
  border: 0;
  background: rgba(241, 245, 248, 0.8);
.usage-variety .img-item {
  position: relative;
}
.usage-variety .img-item button {
  position: absolute;
  border: 0;
  background: rgba(241, 245, 248, 0.7);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  bottom: 20px;
  left: 50%;
  translate: -50% 0;
  width: 180px;
  height: 50px;

}

@media screen and (max-width: 1200px) {
  .ssilka {
    display: none;
    width: 0;
    overflow: hidden;
  }
  .first-half h2 {
    text-align: center;
  }
  .first-half .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .usage-variety .img-hidden {
    width: 0;
    height: 0;
    overflow: hidden;
  }

}/*# sourceMappingURL=style.css.map */